<div class='recent-options' *ngIf='betterOptions.length'>
  <div class='title'>Последние "выгодные" предложения</div>
  <div class='table'>

    <div class='table__headers row'>
      <div class='col-sm-6'>Название</div>
      <div class='centered col-sm-3'>Количество</div>
      <div class='centered col-sm-3'>За</div>
    </div>
    
    <div class='table__item row' *ngFor = 'let option of betterOptions'>
        <div class='col-sm-6'>{{ option.title }}</div>
        <div class='centered col-sm-3'>{{ option.amount }}</div>
        <div class='centered col-sm-3'>{{ option.price }} {{option.currency}}</div>
    </div>

  </div>
</div>