<div class='tournament-container' 
     [ngClass]='{ 
       hidden: !componentVisible, 
       fadeIn: animations.fadeIn, 
       slideDown: animations.slideDown,
       flyIn: animations.flyIn
      }'
>
  
  <!-- kinda preloader with swords image -->
  <div class='preview' [ngClass]='{ fall: animations.fall }'>
    <div class='image-container'>
        <img class='image' src='/assets/swords.svg'/>
    </div>
  </div>

  <!-- actual tournament/bracket container -->
  <div class='match'></div>

</div>