@keyframes bag-fade-in
    0%
        transform: translateY(150vh)
    50%
        transform: translateY(0)
    55%
        transform: rotate(-4deg) translateY(15vh)
    65%
        transform: translateY(0)
    70%
        transform: rotate(3deg) translateY(15vh)
    80%
        transform: translateY(0)
    85%
        transform: rotate(-4deg) translateY(15vh)

@keyframes form-squeeze
    from
        transform: scale(1, 1) rotate(0)
    to
        transform: scale(0.3, 0.3) rotate(-90deg)

@keyframes fade-out
    from
        opacity: 1
    to
        opacity: 0