@keyframes formAnimation
    from
        transform: scale(1) rotate(0)
    to
        transform: scale(0.3) rotate(-90deg)

@keyframes resultsFadeIn
    from
        opacity: 0
        transform: scale(0.3) rotate(-90deg)
    to
        opacity: 1
        transform: scale(1) rotate(0)


@keyframes bagAnimation
    0%
        transform: translateY(150vh)
    50%
        transform: translateY(5vh)
    55%
        transform: rotate(-4deg) translateY(15vh)
    65%
        transform: translateY(5vh)
    70%
        transform: rotate(3deg) translateY(15vh)
    80%
        transform: translateY(5vh)
    85%
        transform: rotate(-4deg) translateY(15vh)

@keyframes bagFadeOut
    to
        transform: translateY(150vh)
        opacity: 0


@keyframes fadeOut
    from
        opacity: 1
    to
        opacity: 0