/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import 'app/animations.sass'

html,
body
    width: 100%
    height: 100%
    padding: 0
    margin: 0
    font-family: 'Arimo', 'Roboto', 'Arial', sans-serif
    font-size: 12px
    background: #00bf92
    background: -moz-linear-gradient(45deg, #00bf92 0%, #00ce92 100%)
    background: -webkit-linear-gradient(45deg, #00bf92 0%,#00ce92 100%)
    background: linear-gradient(45deg, #00bf92 0%,#00ce92 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bf92', endColorstr='#00ce92',GradientType=1 )
    background-repeat: no-repeat
    background-attachment: fixed

    &.animated
        overflow: hidden
        .recent-options
            animation: fade-out 0.4s forwards

::-webkit-scrollbar-track
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
	background-color: #F5F5F5

::-webkit-scrollbar
	width: 4px
	background-color: #F5F5F5

::-webkit-scrollbar-thumb
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
	background-color: #00926f