<div class='main-form-container' [ngClass]='{formAnimated: formAnimated, hidden: !mainFormVisible}'>
  <div class='yellow-border'></div>

  <form name='main-form' autocomplete="off" [formGroup]='mainForm' novalidate>

    <!-- item input -->
    <div class='input-group'>
        <label for='item'>Я хочу купить</label>
        <input 
          type='text' 
          name='item' 
          placeholder='Something' 
          autocomplete='off'  
          formControlName='product' 
          [ngClass] = "{invalid: mainForm.controls['product'].dirty && !mainForm.controls['product'].valid }"
          maxlength="42"
        />
    </div>

    <!-- price input and currency select -->
    <div class='input-group'>
        <label for='item'>Это стоит</label>
        <div class='price-block'>
            <input type='text' name='price' placeholder='100' class='price-input' autocomplete="off" formControlName='price' OnlyNumber maxlength="8"/>
            
            <!-- currency select -->
            <select name='currencies' formControlName='currency'>
              <option value='UAH' selected='selected'>UAH</option>
              <option value='USD'>USD</option>
              <option value='EUR'>EUR</option>
            </select>
        </div>

    </div>

    <!-- submit button -->
    <button class='submit-button' (click)='onSubmitClick($event)' [disabled]='mainForm.invalid' type='submit'>Что еще я могу купить на эти деньги?</button>

  </form>
</div>

<!-- mystery baggerino -->
<img class='mystery-bag' [ngClass]='{bagAnimated: bagAnimated, bagFadeOut: bagFadeOut}' #bag src='assets/bag.svg' alt='Mystery bag'/>