<div class='main-form-container' 
     [ngClass]='{
        formShrinks: animations.formShrinks, 
        hidden: !componentVisible,
        slideFromLeft: animations.slideFromLeft
      }'
>
  <div class='yellow-border'></div>

  <form name='main-form' autocomplete="off" [formGroup]='mainForm' novalidate>

    <!-- item input -->
    <div class='input-group'>
        <label for='item'>Я хочу купить</label>
        <input 
          type='text' 
          name='item' 
          placeholder='Что-нибудь' 
          autocomplete='off'  
          formControlName='product' 
          [ngClass] = "{invalid: mainForm.controls['product'].dirty && !mainForm.controls['product'].valid }"
          maxlength="42"
        />
    </div>

    <!-- price input and currency select -->
    <div class='input-group'>
        <label for='item'>Это стоит</label>
        <div class='price-block'>
            <input 
              type='text' 
              name='price' 
              placeholder='9000' 
              class='price-input' 
              autocomplete="off" 
              formControlName='price' 
              OnlyNumber 
              maxlength="8"
              [ngClass] = "{invalid: mainForm.controls['price'].dirty && !mainForm.controls['price'].valid }"
              title='Минимальное число - 50'
            />
            
            <!-- currency select -->
            <select name='currencies' formControlName='currency'>
              <option value='UAH' selected='selected'>UAH</option>
              <option value='USD'>USD</option>
              <option value='EUR'>EUR</option>
            </select>
        </div>

    </div>

    <!-- submit button -->
    <button class='submit-button' (click)='onSubmitClick($event)' [disabled]='mainForm.invalid' type='submit'>Что еще я могу купить на эти деньги?</button>

  </form>
</div>

<!-- mystery baggerino -->
<img class='mystery-bag' 
     [ngClass]='{bagShaking: animations.bagShaking, bagFadeIn: animations.bagFadeIn, bagAnimated: animations.bagAnimated, bagFadeOut: animations.bagFadeOut}' 
     #bag src='assets/bag.svg' 
     alt='Mystery bag'/>