.main-form-container
    margin: 5% auto 0
    min-height: 300px
    width: 50%
    max-width: 800px
    border-radius: 8px
    padding: 20px 20px 40px 20px
    background: rgba(0,0,0, 0.2)
    
    &.animated
        animation: form-squeeze 1s forwards ease, fade-out 0.1s 1.5s forwards

    form
        .input-group
            display: flex
            justify-content: space-between
            width: 90%
            margin: 30px auto 40px

            label
                position: relative
                top: -4px
                color: #ffffff
                font-size: 2.5rem

            input
                height: 40px
                width: 60%
                padding: 1px 0 0 40px
                font-size: 1.5rem
                color: #444
                border-radius: 2px
                outline: 0
                border: 0
                    
                &::placeholder
                    color: #d4d4d4

            input[name='item']
                background: #fff url(/assets/icon-cart.png) no-repeat 5px 10px 
            input[name='price']
                background: #fff url(/assets/icon-price.png) no-repeat 5px 12px
        

            .price-block
                display: inline-block
                postion: relative
                width: 60%
                text-align: right

                select
                    position: absolute
                    top: 0
                    right: 0    
                    width: 50px
                    height: 40px
                    padding-left: 7px
                    cursor: pointer
                    background: #00BF7D url(/assets/drop-down-arrow.png) no-repeat 39px 17px
                    background-size: 7px 7px
                    color: #ffffff
                    font-size: 1.1rem
                    font-weight: bold
                    border: 0
                    vertical-align: top
                    outline: none
                    appearance: none
                    
                .price-input
                    width: 100%
                    padding-right: 55px

        .submit-button
            display: block
            cursor: pointer
            margin: 0 auto
            width: 90%
            border-radius: 10px
            border: 0
            outline: 0
            height: 80px

            font-size: 1.5rem
            font-weight: bold
            color: rgba(0,0,0,0.7)
            text-align: center
            
            background: #ffe87e
            background: -moz-linear-gradient(top, #ffe87e 0%, #ffbd51 100%)
            background: -webkit-linear-gradient(top, #ffe87e 0%,#ffbd51 100%)
            background: linear-gradient(to bottom, #ffe87e 0%,#ffbd51 100%)
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe87e', endColorstr='#ffbd51',GradientType=0 )

            &:hover
                background: linear-gradient(to bottom, lighten(#ffe87e, 6%) 0%, lighten(#ffbd51, 6%) 100%)
            &:active
                background: linear-gradient(to bottom, lighten(#ffbd51,5%) 0%, #ffe87e 100%)


.mystery-bag
    opacity: 0
    visibility: hidden
    position: absolute
    top: 10%
    left: 32%
    z-index: 1000
    width: 35vw

    &.animated
        opacity: 1
        visibility: visible
        animation: bag-fade-in 3.4s forwards ease-out